/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { /* (1) Cabeçalho / Título / Menu */
    background: #542362;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 0px;
    margin-top: 0px;
}

header h1 { 
    font-size: 40px;
    margin-inline: 50px;
    margin-bottom: 5px;
    color: #ffffffd8;
    letter-spacing: 0.000001px;
    font-family: 'Roboto', 'Poppins', sans-serif;
    font-weight: 550;
    line-height: 1.5;
    background: #0000003d;
    padding-inline: 10px;
}
h1, h2 {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

body {  /* Corpo da página. Exceção body e footer */
    font-family: Arial, Sans-serif;
    line-height: 1.6;
    background: #ffffff;
    margin-inline: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
#home{
    background: linear-gradient(to bottom, #542362, #542362e3, #9b3c82,#9b3c82,#542362de,#542362);
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 0px;
}

.home{
    background: #fff;
    width:500px;
    height: 500px;
    margin: -0 auto;
    padding: 50px;
    text-align: center;
    border-radius: 5px; /* Arredondar os cantos */
    margin-left: 380px;
}

#home img{
    margin-left: -15px;
    margin-top: -45px;
}

.caracteristicas {
    padding-top: 30px;
    text-align: center;
    color: #fff;
    padding-left: 200px; 
    padding-right: 200px;
    padding-bottom: 0px;
}
.caracteristicas h2 {
    color: #ffffffd8;
    margin: 0 auto;
    padding-inline: 10px;
    padding-top: 0px;
    padding-bottom: 0px ; 
    margin-top: 0px;
    background: #0000003d;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 5px; /* Arredondar os cantos */
    text-align: center;
    font-family: 'Roboto', 'Poppins', sans-serif;
    letter-spacing: 0.000001px;
    font-weight: 550;
}

.caracteristicas h3 {
    font-size: 30px;
    font-family: 'Roboto', 'Poppins', sans-serif;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: 550;
    letter-spacing: 0.000001px;
}

.caracteristicas p{
    line-height: 3.5;
    text-align: center;
    font-weight: 380;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Roboto', 'Poppins', sans-serif;
    margin-top: 5px;
}

.caracteristicas .btn{
    margin-top: 50px;
    animation: pulsar 0.95s infinite;
    margin-bottom: 90px;

}

@keyframes pulsar {
    0% {
        transform: scale(1); /* Tamanho normal */
    }
    50% {
        transform: scale(1.1); /* Cresce para 110% */
    }
    100% {
        transform: scale(1); /* Volta ao tamanho normal */
    }
}

#video{
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 80px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#video h2{
    margin: 0 auto;
    margin-inline: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #542362;
    font-size: 30px;
    display: block;
}

#depoimentos {
    text-align: center;
    margin-bottom: 40px;
}

.depoimentos  {
    font-size: 14px;
    padding: 0%;
    text-align: left;
    display: inline-block;
    padding-inline: 30px;
    margin-inline: 20px;
}

.depoimentos p {
    font-size: 14px;
    margin-inline: 0px;
    word-wrap: break-word;
    text-align: left;
}

.depoimentos h3 {
    padding-inline: 0px;
    text-align: left;
}

#intro { /* (introduction) */
    background: linear-gradient(to bottom, #542362, #9b3c81);
    text-align: center;
    padding-bottom: 50px;
    padding-top: 0px;
}

#intro h2 { /* (introduction) */
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    padding-top: 50px;
    letter-spacing: 1.5px;
}

#intro p { /* (introduction) */
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
    padding-inline: 20%;
    letter-spacing: 1px;
}

#container {  /* primeira parte (introduction)*/
    width: 80%; /* percentual da largura que o container vai ocupar na tela*/
    max-width: 1200px; /* define a largura maxima que o container pode ter mesmo que o container pai ultrapasse essa largura*/
    margin: 0 auto; /* define o preenchimento externo (fora do conteúdo) do container. 0 auto; aplica margens automáticas*/
    padding-top: 50px;
    padding-bottom: 50px; /*define o preenchimento interno do container (onde fica todo o conteúdo)*/
    color: rgba(0, 0, 0, 0.788);
    text-align: center;
}
#container h2 { /* (2) */
    font-size: 20px;
    color: rgba(0, 0, 0, 0.788);
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
#container p { /* (2) */
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.788);
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 3;
    letter-spacing: 1.2px;
}

.highlight { /* */
    color:#ff9600; /* Escolha a cor que você deseja */
  }
  
.btn { /* (2) */
    display: inline-block;
    background-color: #48b02c;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.05s ease;
    font-weight: bold;
    letter-spacing: 1px;
    font-family:'Arial';
    animation: pulsar 0.95s infinite;
    font-size: 20px;
}

.btn:hover { /* (2) */
    background-color: #4dd427;
}



#testimonials { /* (4) */
    padding: 50px 0;
    text-align: center;
}

#testimonials h2 { /* (4) */
    font-size: 2rem;
    margin-bottom: 20px;
}

.testimonial { /* (4) */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.testimonial p { /* (4) */
    font-size: 1.1rem;
    color: #666;
}

.testimonial cite { /* (4) */
    font-style: normal;
}

footer { /* (5) */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul { /* (5) */
    list-style-type: none;
    margin-top: 10px;
}

footer ul li { /* (5) */
    display: inline;
    margin-right: 10px;
}

footer ul li a { /* (5) */
    color: #fff;
    text-decoration: none;
}
